/* Common page styles */
ion-content {
  --background: var(--gradient-dark) !important;
}

@media (min-width: 641px) {
  ion-content {
    --padding-bottom: auto;
  }

  div[class*="container"],
  div[class*="list"] {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
}
