/* Common page styles */
ion-content {
  --background: var(--gradient-dark) !important;
}

@media (min-width: 641px) {
  ion-content {
    --ion-safe-area-left: auto;
    --ion-safe-area-right: auto;
  }

  ion-content > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
}
