<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Movie Rater</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (isLoading()) {
    <div class="loading-container">
      <ion-spinner></ion-spinner>
    </div>
  }

  @if (!isLoading() && currentMovie()) {
    <app-movie-card-large
      [movie]="currentMovie()"
      [isCompact]="true"
      (actorClick)="goToActorMovies($event)"
      (imdbClick)="openMovieLink()"
    ></app-movie-card-large>
  }

  @if (!isLoading() && !currentMovie()) {
    <div class="no-movies">
      <h2>All movies rated!</h2>
      <p>You've gone through all the movies. Great job!</p>
      <ion-button
        expand="full"
        color="primary"
        (click)="onReset()"
        class="reset-button"
      >
        Start Over
      </ion-button>
    </div>
  }
</ion-content>

<app-movie-footer [movieId]="currentMovie()?.id || null" [showFooter]="!isLoading() && !!currentMovie()"></app-movie-footer>
