<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie()?.title || 'Movie' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (movie()) {
    <div class="movie-details-container">
      <img [src]="movie()!.image" [alt]="movie()!.title" class="movie-poster" />

      <div class="movie-info">
        <h1 class="movie-title">{{ movie()!.title }}</h1>

        <div class="movie-meta">
          <span class="year">{{ movie()!.year }}</span>
          @if (movie()!.rating) {
            <ion-badge color="warning" class="rating">
              {{ (movie()!.rating / 2).toFixed(1) }}/5
            </ion-badge>
          }
        </div>

        <div class="description-section">
          <p class="movie-description">{{ movie()!.description }}</p>
        </div>

        @if (movie()!.actors && movie()!.actors.length > 0) {
          <div class="cast-section">
            <h3>Cast</h3>
            <div class="cast-list">
              @for (actor of movie()!.actors; let i = $index; track i) {
                @if (movie()!.actorIds && movie()!.actorIds[i]) {
                  <div class="cast-item clickable" (click)="goToActorMovies(movie()!.actorIds[i])">
                    @if (movie()!.actorImages[i]) {
                      <img [src]="movie()!.actorImages[i]" [alt]="actor" class="actor-avatar" />
                    } @else {
                      <div class="actor-avatar placeholder">
                        {{ actor.charAt(0) }}
                      </div>
                    }
                    <span class="actor-name">{{ actor }}</span>
                  </div>
                } @else {
                  <div class="cast-item">
                    @if (movie()!.actorImages[i]) {
                      <img [src]="movie()!.actorImages[i]" [alt]="actor" class="actor-avatar" />
                    } @else {
                      <div class="actor-avatar placeholder">
                        {{ actor.charAt(0) }}
                      </div>
                    }
                    <span class="actor-name">{{ actor }}</span>
                  </div>
                }
              }
            </div>
          </div>
        }

        <div class="button-group">
          @if (movie()!.trailerUrl) {
            <ion-button expand="full" fill="solid" color="warning" shape="round" (click)="openTrailerModal()" class="rounded-button">
              <ion-icon slot="start" [icon]="playCircle"></ion-icon>
              Trailer
            </ion-button>
          }
          <ion-button expand="full" fill="solid" color="primary" shape="round" (click)="openMovieLink()" class="rounded-button">
            <ion-icon slot="start" [icon]="openOutline"></ion-icon>
            IMDB
          </ion-button>
        </div>
      </div>
    </div>
  } @else {
    <div class="no-movie">
      <p>No movie information available.</p>
      <ion-button href="/movies">Go Back</ion-button>
    </div>
  }
</ion-content>

<ion-modal [isOpen]="showTrailerModal()" (ionModalDidDismiss)="closeTrailerModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ movie()?.title }} - Trailer</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeTrailerModal()">
            <ion-icon slot="icon-only" [icon]="closeOutline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      @if (movie()?.trailerUrl) {
        <div class="trailer-container">
          <iframe
            class="trailer-iframe"
            [src]="movie()!.trailerUrl! | safe"
            title="Movie Trailer"
            allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </div>
      }
    </ion-content>
  </ng-template>
</ion-modal>

<app-movie-footer [movieId]="movie()?.id || null" [showFooter]="!!movie()"></app-movie-footer>
