/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap');

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Custom Global Styles */
:root {
  /* Primary Brand Colors */
  --ion-color-primary: #1a4d2e;
  --ion-color-primary-rgb: 26, 77, 46;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #134128;
  --ion-color-primary-tint: #316d45;

  /* Secondary Brand Colors */
  --ion-color-secondary: #c41e5a;
  --ion-color-secondary-rgb: 196, 30, 90;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #ac1950;
  --ion-color-secondary-tint: #ca356b;

  /* Tertiary - Sage Green */
  --ion-color-tertiary: #7a9b7f;
  --ion-color-tertiary-rgb: 122, 155, 127;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6b8770;
  --ion-color-tertiary-tint: #87a88c;

  /* Warning - Beige/Cream */
  --ion-color-warning: #e8d4c0;
  --ion-color-warning-rgb: 232, 212, 192;
  --ion-color-warning-contrast: #333;
  --ion-color-warning-contrast-rgb: 51, 51, 51;
  --ion-color-warning-shade: #cdbba7;
  --ion-color-warning-tint: #eadac6;

  /* Danger - Burgundy */
  --ion-color-danger: #6b2d3e;
  --ion-color-danger-rgb: 107, 45, 62;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #5d2736;
  --ion-color-danger-tint: #7a4151;
}

/* Typography */
body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
ion-card-title,
ion-card-subtitle,
ion-title,
ion-label {
  font-family: 'Poppins', sans-serif;
}

ion-button[color="primary"] {
  --border-radius: 20px;
}
